.fcolorpicker-curbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.fcolorpicker{
    width: 284px;
    background: #f3f3f3;
    border:1px solid #ccc;
    position: fixed;
    top: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 999999;
    /*display: none;*/
}
.fcolorpicker .fcolor-list{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    margin-left: 2px;
    padding: 8px 0;
}
.fcolorpicker .color-item{
    flex:0 0 39px;
    cursor: pointer;
    width:39px;
    height:18px;
    background:rgba(239,83,79,1);
    border-radius:2px 0px 0px 0px;
    margin-bottom: 1px;
    margin-right:1px;
    /*border:1px solid #E0E0E0;*/
}
.fcolorpicker .color-latest .color-item{
    width:26px;
    height:18px;
    background:rgba(255,255,255,1);
    border-radius:2px;
    /*border:1px solid rgba(224,224,224,1);*/
    flex:0 0 26px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.fcolorpicker .color-btns{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}
.fcolorpicker .color-palette{
    display: flex;
    height: 131px;
    /*padding: 8px;*/
}
.fcolorpicker .color-palette .lightness{
    flex:auto;
    margin-right: 8px;
    border:1px solid #ccc;
    position: relative;
    overflow: hidden;
}
.fcolorpicker .color-palette .lightness canvas{
    width:100%;
    height: 100%;
    cursor: pointer;
}
.fcolorpicker .color-palette .hue{
    flex:0 0 6px;
    margin-right: 8px;
    /*border:1px solid #ccc;*/
    position: relative;
}
.fcolorpicker .color-palette .hue canvas,.color-palette .opacity canvas{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.fcolorpicker .color-palette .opacity{
    flex:0 0 6px;
    /*border:1px solid #ccc;*/
    position: relative;
}
.fcolorpicker .color-palette .opacity canvas{
    background:url(opacity.png);
    -webkit-background-size: contain;
    background-size: contain;
}
.fcolorpicker .color-palette .lightbar{
    position: absolute;
    border-radius: 50%;
    left: -4px;
    box-shadow: 0 0px 2px rgba(204,204,192,1);
    pointer-events: none;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: none;
    border: 4px solid #e0e0e0;
    box-sizing: border-box;
}
.fcolorpicker .color-palette .huebar,.color-palette .opacitybar{
    position: absolute;
    border-radius: 50%;
    left: -4px;
    box-shadow: 0 2px 7px -1px rgb(81 81 78);
    pointer-events: none;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: #fff;
    box-sizing: border-box;
}
.fcolorpicker .current-color{
    border-radius: 2px;
    flex: 0 0 10px;
    height: 10px;
}
.current-color-value{
    border: 1px solid #ccc;
    line-height: 24px;
    margin: 0 4px;
    flex:auto;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 4px;
    color: #666;
    background: #fff;

}
.current-color-value input{
    width: 100%;
    border: 0;
    outline: none;
    color: #666;
}
.fcolorpicker .color-btn-group{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: 0 0 82px;
}
.fcolorpicker .color-btn-group>a{
    display: inline-block;
    font-size: 12px;
    text-align: center;
    background: red;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    padding: 0;
}
.fcolorpicker .color-btn-group .cancel-color{
    background: #CCCCCC;
    color: #333;
}
.fcolorpicker .color-btn-group .confirm-color{
    background: #00E592;
}


.fcolorpicker .color-gradient{
    padding-bottom:30px;
}
.fcolorpicker .gradient-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top:34px;
}


.fcolorpicker .gradient-colors{
    position: absolute;
    width: calc(100% - 22px);
    left: 0;
    top: 6px;
}
.fcolorpicker .gradient-colors .gradient-item{
    width:16px;
    height:16px;
    position: absolute;
    top:0;
    border:1px solid #928F8F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -9px;
    cursor: pointer;
}
.fcolorpicker .gradient-colors .gradient-item:before{
    position: absolute;
    top: 12px;
    color: #928f8f;
}
.fcolorpicker .gradient-colors .gradient-item .color{
    background:blue;
    width:12px;
    height:12px;
}
.fcolorpicker .gradient-bar{
    flex:auto;
    height:14px;
    background: url(opacity.png);
    background-size: 10px;
    margin-right:6px;
}
.fcolorpicker .add-gradient{
    flex:0 0 16px;
    height:16px;
    width:16px;
    color: #57A4FF
}
.fcolorpicker .gradient-angle{
    padding-top: 10px;
}
.fcolorpicker .gradient-angle .current-angle{
    width:100%;
    height:4px;
    background:#928F8F;
    position: relative;
}
.fcolorpicker .gradient-angle .current-angle div{
    width:14px;
    height:14px;
    border-radius:50%;
    background:#57A4FF;
    position: absolute;
    top: -6px;
}
.fcolorpicker .gradient-angle .current-angle span{
    font-size: 12px;
    position: absolute;
    top: 8px;
}
.fcolorpicker .color-type{
    font-size:14px;
}
.fcolorpicker .color-type span{
    cursor: pointer;
}
.fcolorpicker .color-type .on{
    color: #57a4ff;
    font-weight: BOLD;
}
